<!DOCTYPE html>
<html>
    <body>
      <h1>testing the index homepage</h1>
      <img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/shushing-face.png" alt="roblox">
      <table>
          <tr>
              <th>
                  Murdered:
              </th>
          </tr>
          {% for item in data %}
          <tr>
              <td>
                  {{item.murdered if item.murdered else ''}}
              </td>
          </tr>
          {% endfor %}
          </tr>
          <tr>
              <th>
                  Witnessed:
              </th>
          </tr>
          {% for item in data %}
          <tr>
              <td>
                  {{item.witnessed if item.witnessed else ''}}
              </td>
          </tr>
          {% endfor %}
      </table>
       <br>
       <br>

    </body>
</html>
