<!DOCTYPE html>
<html>
    <body>
      <h1>homework assignment bot</h1>
      <img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/shushing-face.png" alt="shushface" style="width: 2in">
      <!-- chatGPT made this table-->
<table>
          <tr>
            <th style="padding-right: 1in">Alive👤</th>
            <th style="padding-right: 1in">Murdered💀</th>
            <th style="padding-right: 1in">Witnessed👀</th>
            <th style="padding-right: 1in">Timed Out⌛</th>
          </tr>
          <tr>
            <td style="padding-right: 1in">
                Count: {{ none_list|count }}
                <br>
              {% set none_list = [] %}
              {% for assassin in data %}
                {% if not assassin.murdered and not assassin.witnessed and not assassin.timedout %}
                  {% set _ = none_list.append(assassin.name) %}
                {% endif %}
              {% endfor %}
              {% for item in none_list %}
                {{ item }}<br>
              {% endfor %}
            </td>
            <td style="padding-right: 1in">
                Count: {{ murdered_list|count }}
                <br>
              {% set murdered_list = [] %}
              {% for assassin in data %}
                {% if assassin.murdered %}
                  {% set _ = murdered_list.append(assassin.name) %}
                {% endif %}
              {% endfor %}
              {% for item in murdered_list %}
                {{ item }}<br>
              {% endfor %}
            </td>
            <td style="padding-right: 1in">
                Count: {{ witnessed_list|count }}
                <br>
              {% set witnessed_list = [] %}
              {% for assassin in data %}
                {% if assassin.witnessed %}
                  {% set _ = witnessed_list.append(assassin.name) %}
                {% endif %}
              {% endfor %}
              {% for item in witnessed_list %}
                {{ item }}<br>
              {% endfor %}
            </td>
            <td style="padding-right: 1in">
                Count: {{ timedout_list|count }}
                <br>
              {% set timedout_list = [] %}
              {% for assassin in data %}
                {% if assassin.timedout %}
                  {% set _ = timedout_list.append(assassin.name) %}
                {% endif %}
              {% endfor %}
              {% for item in timedout_list %}
                {{ item }}<br>
              {% endfor %}
            </td>
          </tr>
        </table>



       <br>
       <br>

    </body>
</html>
